<link rel="stylesheet" href="NavBar.razor.css" />

<nav>
    <div class="logo-nav">
        <NavLink class="nav-logo-container nav-link" href="/">
            <h2>
                ToDoApp
            </h2>
        </NavLink>
    </div>

    <Button content="Tarefas" endPointUrl=""/>
    <Button content="Nova Tarefa" endPointUrl="/newtask" />
    <Button content="Atualizar" endPointUrl="/UpdateTask" />
    <Button content="Completas" endPointUrl="/TasksCompleteds" />
</nav>
