div.taskCard-container {
    background-color: white;
    width: 80%;
    height: 2.8rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 3px 5px #00000032;
    align-items: center;
    transition: 300ms;
    justify-content: space-between;
    position: relative
}

    div.taskCard-container:hover {
        transform: scale(1.01);
    }

#div-input {
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 50%;
    margin-inline: 1rem;
    box-shadow: 2px 2px #00000032;
    transition: 300ms;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.div-input-notChecked {
    background-color: #717C89;
    color: #969ca4;
}

.div-input-Checked {
    background-color: #90BAAD;
}

.div-content {
    margin-left: 1rem;
}

.btn-delete {
    height: 1.7rem;
    width: 1.7rem;
    position: absolute;
    right: -20px;
    background-color: #dc3545;
    border: none;
    color: #ffc1c1;
    box-shadow: 2px 2px #00000032;
    opacity: 0;
    transition: 350ms;
    z-index: -1;
    cursor: pointer;
}

div.taskCard-container:hover .btn-delete {
    right: -30px;
    opacity: 1;
    z-index: -1;
}

.btn-delete:active {
    background-color: #db757f;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}