@page "/TasksCompleteds"
@using ToDoApp.Web.Components.TaskCardComponent
@inject TodoService TodoService
@attribute [StreamRendering]

<div>
    <h3>Tarefas Completas</h3>
    <br />

    @if (todos is null)
    {
        <span>Carregando ...</span>
    }
    else
    {
        @foreach (var todo in todos)
        {
            <TaskCard DisableDisplayOnUnCheck="true" Todo="@todo" />
        }
    }
</div>